body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Open Sans", sans-serif;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calc-wrapper {
  width: 400px;
}

.row {
  display: flex;
  width: 100%;
}

/* Small screens */
@media screen and (max-width: 767px) and (orientation: portrait) {
  .app {
    align-items: flex-start;
    padding: 0.7rem 0;
    height: auto;
  }

  .calc-wrapper {
    width: 95%;
  }
}

@media screen and (max-width: 767px) and (orientation: landscape) {
  .app {
    align-items: flex-start;
    padding: 0.7rem 0;
    height: auto;
  }
}
